root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 180
tab_width = 4

[{*.xml,*.xsd,*.xsl,*.xslt}]
max_line_length = 1000

[{*.md,*.asciidoc}]
max_line_length = 1000

[{*.yaml,*.yml}]
indent_size = 2
