on: 
  schedule: 
    - cron: '40 * * * *'
  workflow_dispatch: 
name: '_cleanup'
jobs: 
  validate: 
    runs-on: 'ubuntu-latest'
    steps: 
      - uses: 'azure/login@v1'
        with: 
          allow-no-subscriptions: 'true'
          creds: '${{ secrets.AZURE_CREDENTIALS }}'
      - uses: 'actions/checkout@v3'
      - run: | 
          for resourceGroup in `az group list --query "[? contains(name,'java-on-azure-')][].{name:name}" -o tsv`; do
            echo Deleting ${resourceGroup}
            az group delete -n ${resourceGroup} --yes --no-wait
          done
          for fn in `az ad app list --filter "startswith(displayName, 'acr-pull-')" --query '[].appId'`; do
            echo Deleting ACR pull service principal ${fn}
            az ad app delete --id ${fn} 
          done

