on: 
  schedule: 
    - cron: '0 1 * * 1'
  workflow_dispatch: 

name: 'acr/payara/README.md'
jobs: 
  validate: 
    runs-on: 'ubuntu-latest'
    steps: 
      - uses: 'azure/login@v1'
        with: 
          allow-no-subscriptions: 'true'
          creds: '${{ secrets.AZURE_CREDENTIALS }}'
      - uses: 'actions/checkout@v3'
      - run: |
          if [[ -z $REGION ]]; then
          export REGION=westus
          fi
          
          if [[ -z $REGION ]]; then
          export REGION=westus
          fi
          
          if [[ -z $RESOURCE_GROUP ]]; then
          export RESOURCE_GROUP=joaz-rg-$RANDOM
          echo "Using '"$RESOURCE_GROUP"' as resource group"
          fi
          
          az group create --name $RESOURCE_GROUP --location $REGION
          if [[ -z $ACR_NAME ]]; then
          export ACR_NAME=acreg$RANDOM
          fi
          
          az acr create \
          --name $ACR_NAME \
          --resource-group $RESOURCE_GROUP \
          --sku Basic \
          --admin-enabled true
          
          cd acr/payara
          
          mvn package
          export ACR_PAYARA_IMAGE=payara:latest
          
          az acr build --registry $ACR_NAME --image $ACR_PAYARA_IMAGE .
          
          cd ../..
          
          
          export RESULT=$(az acr repository show --name $ACR_NAME --image $ACR_PAYARA_IMAGE)
          az group delete --name $RESOURCE_GROUP --yes || true
          if [[ -z $RESULT ]]; then
          echo "Unable to find $ACR_PAYARA_IMAGE image"
          exit 1
          fi