on: 
  schedule: 
    - cron: '0 7 * * 2'
  workflow_dispatch: 

name: 'analytics/eventhubs/create-namespace/README.md'
jobs: 
  validate: 
    runs-on: 'ubuntu-latest'
    steps: 
      - uses: 'azure/login@v1'
        with: 
          allow-no-subscriptions: 'true'
          creds: '${{ secrets.AZURE_CREDENTIALS }}'
      - uses: 'actions/checkout@v2'
      - run: | 
          
          if [[ -z $RESOURCE_GROUP ]]; then
          export RESOURCE_GROUP=java-on-azure-$RANDOM
          fi
          export REGION=westus2
          
          az group create --name $RESOURCE_GROUP --location $REGION
          export EVENTHUBS_NAMESPACE=eventhubs-$RANDOM
          
          az eventhubs namespace create \
          --name $EVENTHUBS_NAMESPACE \
          --resource-group $RESOURCE_GROUP \
          --location $REGION
          
          export RESULT=$(az eventhubs namespace show --name $EVENTHUBS_NAMESPACE --resource-group $RESOURCE_GROUP --output tsv --query provisioningState)
          az group delete --name $RESOURCE_GROUP --yes || true
          if [[ "$RESULT" != Succeeded ]]; then
          echo "Azure Event Hubs namespace - $EVENTHUBS_NAMESPACE - was not provisioned properly"
          exit 1
          fi