on: 
  schedule: 
    - cron: '0 1 * * 6'
  workflow_dispatch: 

name: 'group/delete/README.md'
jobs: 
  validate: 
    runs-on: 'ubuntu-latest'
    steps: 
      - uses: 'azure/login@v1'
        with: 
          allow-no-subscriptions: 'true'
          creds: '${{ secrets.AZURE_CREDENTIALS }}'
      - uses: 'actions/checkout@v2'
      - run: | 
          
          if [[ -z $RESOURCE_GROUP ]]; then
          export RESOURCE_GROUP=java-on-azure-$RANDOM
          export REGION=southcentralus
          fi
          
          az group create --name $RESOURCE_GROUP --location $REGION
          az group delete --name $RESOURCE_GROUP --yes
          export RESULT=$(az group show --name $RESOURCE_GROUP --output tsv --query name)
          if [[ "$RESULT" == "$RESOURCE_GROUP" ]]; then
          exit 1
          fi