on: 
  schedule: 
    - cron: '0 1 * * 2'
  workflow_dispatch: 

name: 'keyvault/add-secret/README.md'
jobs: 
  validate: 
    runs-on: 'ubuntu-latest'
    steps: 
      - uses: 'azure/login@v1'
        with: 
          allow-no-subscriptions: 'true'
          creds: '${{ secrets.AZURE_CREDENTIALS }}'
      - uses: 'actions/checkout@v2'
      - run: | 
          # WARN File could not be found: keyvault/group/create/README.md
          export KEYVAULT_NAME=keyvault-$RANDOM
          
          az keyvault create \
          --resource-group $RESOURCE_GROUP \
          --name $KEYVAULT_NAME
          az keyvault secret set \
          --name mySecret \
          --value mySecretValue \
          --vault-name $KEYVAULT_NAME
          
          export RESULT=$(az keyvault secret show --name mySecret --vault $KEYVAULT_NAME --query value --output tsv)
          az group delete --name $RESOURCE_GROUP --yes || true
          if [[ "$RESULT" != "mySecretValue" ]]; then
          echo 'Secret was not properly set'
          exit 1
          fi