on: 
  schedule: 
    - cron: '0 15 * * 4'
  workflow_dispatch: 

name: 'mysql/get-country/README.md'
jobs: 
  validate: 
    runs-on: 'ubuntu-latest'
    steps: 
      - uses: 'azure/login@v1'
        with: 
          allow-no-subscriptions: 'true'
          creds: '${{ secrets.AZURE_CREDENTIALS }}'
      - uses: 'actions/checkout@v3'
      - run: |
          
          if [[ -z $REGION ]]; then
          export REGION=westus
          fi
          
          
          if [[ -z $REGION ]]; then
          export REGION=westus
          fi
          
          
          if [[ -z $REGION ]]; then
          export REGION=westus
          fi
          
          if [[ -z $REGION ]]; then
          export REGION=westus
          fi
          
          if [[ -z $RESOURCE_GROUP ]]; then
          export RESOURCE_GROUP=java-on-azure-$RANDOM
          echo "Using '"$RESOURCE_GROUP"' as resource group"
          fi
          
          az group create --name $RESOURCE_GROUP --location $REGION
          
          if [[ -z $MYSQL_NAME ]]; then
          export MYSQL_NAME=mysql-$RANDOM
          export MYSQL_USERNAME=mysql
          export MYSQL_PASSWORD=p#ssw0rd-$RANDOM
          fi
          
          az mysql server create \
          --admin-user $MYSQL_USERNAME \
          --admin-password $MYSQL_PASSWORD \
          --name $MYSQL_NAME \
          --resource-group $RESOURCE_GROUP \
          --sku B_Gen5_1 \
          --ssl-enforcement Disabled
          export LOCAL_IP=`curl -s whatismyip.akamai.com`
          
          az mysql server firewall-rule create \
          --resource-group $RESOURCE_GROUP \
          --server $MYSQL_NAME \
          --name AllowMyLocalIP \
          --start-ip-address $LOCAL_IP \
          --end-ip-address $LOCAL_IP
          
          cd mysql/load-your-mysql-database-with-data
          export MYSQL_DNS_NAME=`az mysql server show \
          --resource-group $RESOURCE_GROUP \
          --name $MYSQL_NAME \
          --query fullyQualifiedDomainName \
          --output tsv`
          export MYSQL_CLIENT_USERNAME="$MYSQL_USERNAME@$MYSQL_NAME"
          mysql -h $MYSQL_DNS_NAME -u $MYSQL_CLIENT_USERNAME -p$MYSQL_PASSWORD < load.sql
          cd ../..
          
          
          cd mysql/get-country
          
          mvn package
          java -jar target/get-country.jar jdbc:mysql://$MYSQL_DNS_NAME:3306/demo?useSSL=true\&requireSSL=true $MYSQL_CLIENT_USERNAME $MYSQL_PASSWORD USA
          
          cd ../..
          
          
          cd mysql/get-country
          export RESULT=$(java -jar target/get-country.jar jdbc:mysql://$MYSQL_DNS_NAME:3306/demo?useSSL=true\&requireSSL=true $MYSQL_CLIENT_USERNAME $MYSQL_PASSWORD USA)
          cd ../..
          az group delete --name $RESOURCE_GROUP --yes || true
          if [[ "$RESULT" != *"United States"* ]]; then
          echo "Unable to get the correct country information"
          exit 1
          fi