on: 
  workflow_dispatch: 

name: 'mysql/create/README.md'
jobs: 
  validate: 
    runs-on: 'ubuntu-latest'
    steps: 
      - uses: 'azure/login@v1'
        with: 
          allow-no-subscriptions: 'true'
          creds: '${{ secrets.AZURE_CREDENTIALS }}'
      - uses: 'actions/checkout@v2'
      - run: | 
          export MYSQL_NAME=mysql-$RANDOM
          export MYSQL_USERNAME=mysql
          export MYSQL_PASSWORD=p#ssw0rd-$RANDOM
          
          az mysql server create \
          --admin-user $MYSQL_USERNAME \
          --admin-password $MYSQL_PASSWORD \
          --name $MYSQL_NAME \
          --resource-group $RESOURCE_GROUP \
          --sku B_Gen5_1 \
          --ssl-enforcement Disabled