on: 
  schedule: 
    - cron: '0 0 * * 2'
  workflow_dispatch: 

name: 'mysql/open-firewall-to-your-ip/README.md'
jobs: 
  validate: 
    runs-on: 'ubuntu-latest'
    steps: 
      - uses: 'azure/login@v1'
        with: 
          allow-no-subscriptions: 'true'
          creds: '${{ secrets.AZURE_CREDENTIALS }}'
      - uses: 'actions/checkout@v3'
      - run: |
          
          if [[ -z $REGION ]]; then
          export REGION=westus
          fi
          
          if [[ -z $REGION ]]; then
          export REGION=westus
          fi
          
          if [[ -z $RESOURCE_GROUP ]]; then
          export RESOURCE_GROUP=joaz-rg-$RANDOM
          echo "Using '"$RESOURCE_GROUP"' as resource group"
          fi
          
          az group create --name $RESOURCE_GROUP --location $REGION
          
          if [[ -z $MYSQL_NAME ]]; then
          export MYSQL_NAME=joaz-mysql-$RANDOM
          export MYSQL_USERNAME=mysql
          export MYSQL_PASSWORD=p#ssw0rd-$RANDOM
          fi
          
          
          az mysql server create \
          --admin-user $MYSQL_USERNAME \
          --admin-password $MYSQL_PASSWORD \
          --name $MYSQL_NAME \
          --resource-group $RESOURCE_GROUP \
          --sku B_Gen5_1 \
          --ssl-enforcement Disabled  || true
          
          sleep 60
          
          export LOCAL_IP=`curl -s whatismyip.akamai.com`
          
          az mysql server firewall-rule create \
          --resource-group $RESOURCE_GROUP \
          --server $MYSQL_NAME \
          --name AllowMyLocalIP \
          --start-ip-address $LOCAL_IP \
          --end-ip-address $LOCAL_IP
          
          export RESULT=$(az mysql server firewall-rule show --resource-group $RESOURCE_GROUP --server $MYSQL_NAME --name AllowMyLocalIP --query name --output tsv)
          az group delete --name $RESOURCE_GROUP --yes || true
          if [[ "$RESULT" != AllowMyLocalIP ]]; then
          echo "MySQL firewall was NOT configured to allow access from " $LOCAL_IP
          exit 1
          fi